<div class="post_box_container"> 
  <div style="text-align: center; margin-left: -2px;" class="social_checkboxes">
    <span class="share_text">Share on:</span> <%= check_box_tag "twitter", true, true %>
    <%= label_tag "Twitter" %>
    <%= check_box_tag "facebook", true, true %>
    <%= label_tag "Facebook" %>

    <%# if current_user.profile.id == @profile.id %>
      <%= form_tag(profiles_post_to_social_network_path, :method => "post") do %>
        <%= text_area_tag 'post_id','', :class => "post_box_text", :placeholder => "Post sumthin'" %>
      <%# end %>

    <span class="btn btn-default btn-lg">
       <span class="glyphicon glyphicon-send">
        <%= submit_tag "Post", :class => "post_button" %>
      </span>
    </span>


    <% end %>

</div>
</div>

