<div class="profiles" style="text-align: center; margin-left: 20px;">

	<h1> <%= @profile.first_name %> <%= @profile.last_name %></h1>
	<h3> <%= @profile.contact_email %> </h3>

	<p><% if current_user.profile.id == @profile.id %>
		<%= link_to "Edit Profile", edit_profile_path %> | 
		
		<%= link_to "View All Profiles", profiles_path, :class => "sign_up_text" %>

	<% end %></p>
		
		<% if @profile.facebook_url %>
			<p><%= @profile.facebook_url %></p>
		<% end %>
		
		<% if @profile.twitter_url %>
			<p><%= @profile.twitter_url %></p>
		<% end %>

		<% if @profile.instagram_url %>
			<p><%= @profile.instagram_url %></p>
		<% end %>

		<% if @profile.linkedin_url %>
			<p><%= @profile.linkedin_url %></p>
		<% end %>

		<% if @profile.pinterest_url %>
			<p><%= @profile.pinterest_url %></p>
		<% end %>

		<% if @profile.tumblr_url %>
			<p><%= @profile.tumblr_url %></p>
		<% end %>

		<% if @profile.soundcloud_url %>
			<p><%= @profile.soundcloud_url %></p>
		<% end %>


		<p>
			<%= @profile.bio %>
		</p>


	<% if current_user.profile.id == @profile.id %>
		<%= form_for @profile.microposts.new , url: {controller: :profiles, action: :post}   do |f| %>
	   <%= f.label "What's up?" %>
	   <%= f.text_field :content %>
	   <%= f.submit "Post Status" %>
		<% end %>
	<% end %>


	<% if @profile.microposts.blank? == false %>
		<div class="micro">
			<h3>Status Updates:</h3>
		<% @profile.microposts.each do |p| %>
		  	<p class="posts">
				<%= p.content %>
			</p>
		<% end %>

		</div>
	<% end %>

</div>
