<div class="navbar" style="margin-top: -200px;">

  <ul class="nav pull-left">

      <li>
            <% if @profile.facebook_url %>
              <p>
                <a href="<%= @profile.facebook_url %>" target="_blank"><img src="http://cloud-media.com/wp-content/uploads/2013/11/sumzy-facebook-icon-sm1.png">
                </a>
              </p>
            <% end %>
      </li>

      <li>
    
        <% if @profile.twitter_url %>
          <p>
            <a href="<%= @profile.twitter_url %>" target="_blank"><img src="http://cloud-media.com/wp-content/uploads/2013/11/sumzy-twitter-icon-sm1.png">
            </p>
        <% end %>

      </li> 

            <li>
    
        <% if @profile.tumblr_url %>
          <p>
            <a href="<%= @profile.tumblr_url %>" target="_blank"><img src="http://cloud-media.com/wp-content/uploads/2013/11/sumzy-tumblr-icon-sm1.png">
            </p>
        <% end %>

      </li>

            <li>
    
        <% if @profile.pinterest_url %>
          <p>
            <a href="<%= @profile.pinterest_url %>" target="_blank"><img src="http://cloud-media.com/wp-content/uploads/2013/11/sumzy-pinterest-icon-sm1.png">
            </p>
        <% end %>

      </li>

            <li>
    
        <% if @profile.youtube_url %>
          <p>
            <a href="<%= @profile.youtube_url %>" target="_blank"><img src="http://cloud-media.com/wp-content/uploads/2013/11/sumzy-youtube-icon-sm1.png"></a>
            </p>
        <% end %>

      </li>
  </ul>


<br />

</div>

<div>


	<% if current_user.profile.id == @profile.id %>
		<%= form_for @profile.microposts.new , url: {controller: :profiles, action: :post}   do |f| %>
	   <%= f.text_field :content, :class => "sign_up_text", :placeholder => "Post to everywhere." %>
	   <%= f.submit "Post Status", :class => "sign_up_text" %>
		<% end %>
	<% end %>


	<% if @profile.microposts.blank? == false %>
		<div class="micro">
			<h3>Status Updates:</h3>
		<% @profile.microposts.each do |p| %>
		  	<p class="posts">
				<%= p.content %>
			</p>
		<% end %>

		</div>
	<% end %>

</div>

<div>
			<p>
		<% if current_user.profile.id == @profile.id %>

		<%= @profile.first_name %> <%= @profile.last_name %>  |

		<%= link_to "Edit Profile", edit_profile_path %>  |

		<%= link_to "Sign out", signout_path %> 

	<% end %>
	</p>


		<p>
			<%= @profile.bio %>
		</p>

</div>


