<h5><%= @profile.first_name %>'s Profile</h5>

<div id="microposts" class="container">

	<% if @profile.microposts.blank? == false %>

		<div class="micro">

			<h3>Status Updates:</h3>
		<% @profile.microposts.each do |p| %>

    		  <p class="posts">
    				<%= p.content %>
    			</p>

		    <% end %>
	   <% end %>

    </div>



	<p>
		<% if current_user.profile.id == @profile.id %>

		<%= @profile.first_name %> <%= @profile.last_name %>  |

		<%= link_to "Edit Profile", edit_profile_path %>  |

		<%= link_to "Sign out", signout_path %> 

	<% end %>
	</p>


		<p>
			<%= @profile.bio %>
		</p>

</div>

<br />



<br /><br />
<br /><br />
<br /><br />
