<div id="post_box" class="container" style="margin-top: -160px; padding-top: 20px; background-color: #d6ecff; height: 170px; width: 200px;">

<%= render "profiles/post_box" %>

</div>

<br />
<br />


<div style="float: left;">
  <%= render "profiles/social_profiles" %>
</div>

<br />
<br />









<div id="microposts" class="container">

	<% if @profile.microposts.blank? == false %>

		<div class="micro">

			<h3>Status Updates:</h3>
		<% @profile.microposts.each do |p| %>

    		  <p class="posts">
    				<%= p.content %>
    			</p>

		    <% end %>
	   <% end %>

    </div>



	<p>
		<% if current_user.profile.id == @profile.id %>

		<%= @profile.first_name %> <%= @profile.last_name %>  |

		<%= link_to "Edit Profile", edit_profile_path %>  |

		<%= link_to "Sign out", signout_path %> 

	<% end %>
	</p>


		<p>
			<%= @profile.bio %>
		</p>

</div>

<br />



<br /><br />
<br /><br />
<br /><br />
