<ul class="nav navbar-nav" style="text-align: center; background-color: white;">


	<li>
		<%= link_to raw("<i class=\"glyphicon glyphicon-user\"></i>"), 
	          profile_path(current_user), 
	          class: "btn btn-default btn-lg",
	          style: "border: none;",
	          method: :get %>
	</li>

	<li>
		<%= link_to raw("<i class=\"glyphicon glyphicon-edit\"></i>"), 
	          pages_post_path, 
	          class: "btn btn-default btn-lg",
	          style: "border: none;",
	          method: :get %>
	</li>

	<li>
		<%= link_to raw("<i class=\"glyphicon glyphicon-list\"></i>"), 
	          feeds_path, 
	          class: "btn btn-default btn-lg",
	          style: "border: none;",
	          method: :get %>
	</li>

	<li>
		<%= link_to raw("<i class=\"glyphicon glyphicon-search\"></i>"), 
	          profiles_path, 
	          class: "btn btn-default btn-lg",
	          style: "border: none;",
	          method: :get %>
	</li>

	<li>
	<%= link_to raw("<i class=\"glyphicon glyphicon-cog\"></i>"), 
	          edit_user_path(current_user), 
	          class: "btn btn-default btn-lg",
	          style: "border: none;",
	          method: :get %>
	</li>



</ul>


