<div class="container">

  <ul class="nav" style="margin-top: -5px;">
    <li><a href="/">
        <img alt="Sumzy" src="http://cloud-media.com/wp-content/uploads/2013/11/Sumzy-Beta-NavBar-Logo-Smaller-1.png">
      </a></li>
  </ul>

  <ul class="nav" style="margin-top: 6px;">
    
    
   
  </ul>

  <ul class="nav pull-right" style="margin-top: 6px;">

  <li><%= link_to 'About', :controller => "pages", :action => "about" %></li>

  <% if current_user %>
    <%= "#{current_user.first_name} in the house" %>

       <%= link_to(image_tag("http://icons.iconarchive.com/icons/visualpharm/ios7v2/48/Users-User-male-2-icon.png"), profile_path(current_user), :class => "profile_link") %>

    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in", new_session_path %>
  <% end %>
  </ul>





</div>















