<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sumzy" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sumzy" %>">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

    <%= stylesheet_link_tag "flat-ui", media: "all", "data-turbolinks-track" => true %>


    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>




    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="good.js"></script>
  </head>


  
    <div class="container">
        <%= render 'layouts/testing_navi' %>
    </div>

    <body>

    <br />
    <br />
    <br />
    <br />


    <main role="main" style="background-color: white;">

      <div class="container" style="background-color: white; height: 67px; z-index: 20;">
        <div class="content" >
           <div class="row">
            
              <!-- added with Devise for login notifications -->
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
              <%= yield %>
           
          </div>

            
   
        </div>
      </div>
    </main>



<!-- FOOTER LAYOUT - RENDER PARTIAL - *BUGGY* -->
<!--     <div id="footer">
      <div class="container">
        <p class="text-muted">
          <%# render 'layouts/footer' %></p>
      </div>
    </div> -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

  </body>

</html>
